In [7]:
import pandas as pd

boroughspath = 'https://raw.githubusercontent.com/LondonEnergyMap/rawdata/master/boroughsldn_lookup/localauthority_lookuptable.csv'

df = pd.read_csv(boroughspath)
df.head()

   Unnamed: 0       code        localauthority  fid  london
0           0  E09000001        City of London    1       1
1           1  E08000024            Sunderland    2       0
2           2  E09000002  Barking and Dagenham    3       1
3           3  E08000025            Birmingham    4       0
4           4  E08000026              Coventry    5       0

In [8]:
df = df[df.london==1]

In [9]:
df['localauthority'] = df.localauthority.replace(' ', '-', regex=True)
boroughs = df.code + '-' + df.localauthority
boroughs

0             E09000001-City-of-London
2       E09000002-Barking-and-Dagenham
5                     E09000003-Barnet
6                     E09000004-Bexley
9                      E09000005-Brent
10                   E09000006-Bromley
13                    E09000007-Camden
14                   E09000008-Croydon
17                    E09000009-Ealing
18                   E09000010-Enfield
21                 E09000011-Greenwich
22                   E09000012-Hackney
25    E09000013-Hammersmith-and-Fulham
26                  E09000014-Haringey
29                    E09000015-Harrow
30                  E09000016-Havering
33                E09000017-Hillingdon
34                  E09000018-Hounslow
37                 E09000019-Islington
38    E09000020-Kensington-and-Chelsea
42                   E09000022-Lambeth
45                  E09000023-Lewisham
46                    E09000024-Merton
49                    E09000025-Newham
50                 E09000026-Redbridge
54                 E09000028-Southwark
57                    E09000029-Sutton
58             E09000030-Tower-Hamlets
61            E09000031-Waltham-Forest
62                E09000032-Wandsworth
65               E09000033-Westminster
dtype: object