In [1]:
import pandas as pd

file_age = 'https://raw.githubusercontent.com/LondonEnergyMap/rawdata/master/building_stock/dwelling-period-built-2015-lsoa-msoa.csv'
file_type = 'https://raw.githubusercontent.com/LondonEnergyMap/rawdata/master/building_stock/dwelling-property-type-2015-lsoa-msoa.csv'
file_wallgas = 'https://raw.githubusercontent.com/LondonEnergyMap/rawdata/master/building_stock/solidwall_offgas_ldn.csv'
file_pcodelsoa = 'https://raw.githubusercontent.com/LondonEnergyMap/rawdata/master/building_stock/postcode_lsoa_ldn.csv'

dfage = pd.read_csv(file_age)
dftype = pd.read_csv(file_type)
dfwallgas = pd.read_csv(file_wallgas)
dfpcodelsoa = pd.read_csv(file_pcodelsoa)

In [2]:
dfwallgas.head()

,lsoacode,GOR NAME,CTY CODE,CTY NAME,LA CODE,LA Name,wardcode,ward name,MSOA CODE,MSOA NAME,LSOA NAME,FPI full 2003,FPI basic 2003,No of Solid Wall-2003,No of off gas-2003,Total Households-2001,Total Residents-2001,solid %,offgas %
0,E01000001,London,NaN,NaN,00AA,City of London,00AAFA,Aldersgate,E02000001,City of London 001,City of London 001A,38.25,50.43,4,843,1007,1521,0.40%,83.70%
1,E01000002,London,NaN,NaN,00AA,City of London,00AAFQ,Cripplegate,E02000001,City of London 001,City of London 001B,34.59,45.45,0,838,927,1470,0.00%,90.40%
2,E01000003,London,NaN,NaN,00AA,City of London,00AAFQ,Cripplegate,E02000001,City of London 001,City of London 001C,31.47,49.01,0,206,943,1377,0.00%,21.90%
3,E01000004,London,NaN,NaN,00AA,City of London,00AAFE,Farringdon Without,E02000001,City of London 001,City of London 001D,58.14,79.60,222,172,977,1396,22.70%,17.60%
4,E01000005,London,NaN,NaN,00AA,City of London,00AAFX,Portsoken,E02000001,City of London 001,City of London 001E,25.54,37.71,8,253,520,1068,1.50%,48.60%

In [3]:
dfage.head()

,GEOGRAPHY,ECODE,AREA_NAME,BAND,BP_PRE_1900,BP_1900_1918,BP_1919_1929,BP_1930_1939,BP_1945_1954,BP_1955_1964,BP_1965_1972,BP_1973_1982,BP_1983_1992,BP_1993_1999,BP_2000_2009,BP_2010_2015,BP_UNKNOWN,ALL_PROPERTIES
0,ENGWAL,K04000001,ENGLAND AND WALES,All,"4,106,560","1,405,480","1,297,020","2,665,810","1,740,680","2,666,790","2,558,470","2,400,530","1,854,780","1,345,210","1,873,070","727,980","326,290","24,968,660"
1,ENGWAL,K04000001,ENGLAND AND WALES,A,"1,293,480","444,750","382,310","491,460","641,010","619,580","589,890","610,890","329,000","174,490","232,880","109,170","87,470","6,006,370"
2,ENGWAL,K04000001,ENGLAND AND WALES,B,"742,780","285,400","247,080","529,190","407,010","477,000","510,950","529,680","398,770","239,180","360,100","148,850","51,680","4,927,690"
3,ENGWAL,K04000001,ENGLAND AND WALES,C,"666,900","250,780","264,800","611,130","352,410","715,290","688,720","546,640","404,360","281,060","430,980","174,370","51,880","5,439,300"
4,ENGWAL,K04000001,ENGLAND AND WALES,D,"521,520","182,420","181,330","486,790","190,930","440,890","401,860","335,730","307,790","255,800","367,270","136,170","44,010","3,852,510"

In [4]:
dftype.head()

,GEOGRAPHY,ECODE,AREA_NAME,BAND,TYPE_BUNGALOW_1,TYPE_BUNGALOW_2,TYPE_BUNGALOW_3,TYPE_BUNGALOW_4,TYPE_BUNGALOW_UNKW,BUNGALOW,...,TYPE_HOUSE_DETACHED_1,TYPE_HOUSE_DETACHED_2,TYPE_HOUSE_DETACHED_3,TYPE_HOUSE_DETACHED_4,TYPE_HOUSE_DETACHED_UNKW_RND,HOUSE_DETACHED,ANNEXE,OTHER,UNKNOWN,ALL_PROPERTIES
0,ENGWAL,K04000001,ENGLAND AND WALES,All,278570,1201080,790870,154760,7540,"2,432,820",...,9430,185710,1488420,2190260,25670,3899480,33480,109100,"278,790",24968660
1,ENGWAL,K04000001,ENGLAND AND WALES,A,178680,142960,18040,960,1070,341700,...,2030,5580,6630,2570,390,17190,28770,105070,73050,6006370
2,ENGWAL,K04000001,ENGLAND AND WALES,B,61140,265940,50230,3730,770,381810,...,1910,16610,37070,5480,460,61530,2940,2940,45080,4927690
3,ENGWAL,K04000001,ENGLAND AND WALES,C,26040,403180,198210,17670,1300,646400,...,1950,40480,322350,52260,1580,418620,1040,680,45870,5439300
4,ENGWAL,K04000001,ENGLAND AND WALES,D,8170,248420,257880,30280,1520,546260,...,1620,53120,493170,354340,3570,905810,410,180,38910,3852510

In [5]:
dfage['GEOGRAPHY'].unique()

array(['ENGWAL', 'NATL', 'REGL', 'CTYMET', 'LAUA', 'LSOA', 'MSOA'],
      dtype=object)

In [6]:
dfage_lsoa = dfage[dfage['GEOGRAPHY'].str.contains('LSOA')]
dftype_lsoa = dftype[dftype['GEOGRAPHY'].str.contains('LSOA')]

In [7]:
dfage_lsoa.head()

,GEOGRAPHY,ECODE,AREA_NAME,BAND,BP_PRE_1900,BP_1900_1918,BP_1919_1929,BP_1930_1939,BP_1945_1954,BP_1955_1964,BP_1965_1972,BP_1973_1982,BP_1983_1992,BP_1993_1999,BP_2000_2009,BP_2010_2015,BP_UNKNOWN,ALL_PROPERTIES
425,LSOA,E01000001,City of London 001A,All,60,-,0,0,0,50,840,10,0,50,80,0,10,"1,100"
426,LSOA,E01000001,City of London 001A,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0
427,LSOA,E01000001,City of London 001A,B,0,-,0,0,0,0,0,0,0,0,0,0,0,-
428,LSOA,E01000001,City of London 001A,C,0,0,0,0,0,0,50,0,0,0,0,0,-,50
429,LSOA,E01000001,City of London 001A,D,-,-,0,0,0,0,80,0,0,0,0,0,0,80

In [8]:
dfage_lsoa = dfage_lsoa.drop(columns='GEOGRAPHY')
dftype_lsoa = dftype_lsoa.drop(columns='GEOGRAPHY')

In [9]:
dfage_lsoa

,ECODE,AREA_NAME,BAND,BP_PRE_1900,BP_1900_1918,BP_1919_1929,BP_1930_1939,BP_1945_1954,BP_1955_1964,BP_1965_1972,BP_1973_1982,BP_1983_1992,BP_1993_1999,BP_2000_2009,BP_2010_2015,BP_UNKNOWN,ALL_PROPERTIES
425,E01000001,City of London 001A,All,60,-,0,0,0,50,840,10,0,50,80,0,10,"1,100"
426,E01000001,City of London 001A,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0
427,E01000001,City of London 001A,B,0,-,0,0,0,0,0,0,0,0,0,0,0,-
428,E01000001,City of London 001A,C,0,0,0,0,0,0,50,0,0,0,0,0,-,50
429,E01000001,City of London 001A,D,-,-,0,0,0,0,80,0,0,0,0,0,0,80
430,E01000001,City of London 001A,E,10,0,0,0,0,30,400,-,0,0,20,0,0,470
431,E01000001,City of London 001A,F,20,0,0,0,0,10,50,0,0,20,50,0,-,150
432,E01000001,City of London 001A,G,20,0,0,0,0,10,250,10,0,30,10,0,0,330
433,E01000001,City of London 001A,H,-,0,0,0,0,-,-,0,0,-,0,0,-,10
434,E01000002,City of London 001B,All,10,0,0,0,0,70,910,-,10,0,0,200,-,"1,190"
435,E01000002,City of London 001B,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0
436,E01000002,City of London 001B,B,0,0,0,0,0,0,0,0,0,0,0,0,0,0
437,E01000002,City of London 001B,C,0,0,0,0,0,0,-,0,0,0,0,0,0,-
438,E01000002,City of London 001B,D,0,0,0,0,0,20,80,0,0,0,0,0,0,100
439,E01000002,City of London 001B,E,-,0,0,0,0,20,550,-,0,0,0,100,0,680
440,E01000002,City of London 001B,F,-,0,0,0,0,10,110,0,-,0,0,40,0,170
441,E01000002,City of London 001B,G,0,0,0,0,0,10,140,0,-,0,0,40,-,200
442,E01000002,City of London 001B,H,0,0,0,0,0,0,20,0,-,0,0,20,0,50
443,E01000003,City of London 001C,All,20,0,0,0,0,20,780,-,0,60,40,0,-,910
444,E01000003,City of London 001C,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0
445,E01000003,City of London 001C,B,0,0,0,0,0,0,70,0,0,0,0,0,0,70
446,E01000003,City of London 001C,C,0,0,0,0,0,-,310,0,0,0,0,0,0,310
447,E01000003,City of London 001C,D,-,0,0,0,0,0,160,0,0,0,0,0,0,160
448,E01000003,City of London 001C,E,10,0,0,0,0,20,220,-,0,0,40,0,0,280
449,E01000003,City of London 001C,F,10,0,0,0,0,0,20,0,0,60,0,0,-,90
450,E01000003,City of London 001C,G,0,0,0,0,0,0,-,0,0,-,0,0,0,-
451,E01000003,City of London 001C,H,0,0,0,0,0,0,0,-,0,0,0,0,0,-
452,E01000005,City of London 001E,All,90,-,-,20,-,140,110,170,70,0,10,70,-,680
453,E01000005,City of London 001E,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0
454,E01000005,City of London 001E,B,-,-,0,-,0,0,110,50,0,0,0,50,0,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43910,E01033743,Greenwich 002H,F,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43911,E01033743,Greenwich 002H,G,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43912,E01033743,Greenwich 002H,H,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43913,E01033744,Greenwich 007G,All,0,0,0,0,0,0,0,130,290,0,250,0,10,670
43914,E01033744,Greenwich 007G,A,0,0,0,0,0,0,0,90,10,0,0,0,-,100
43915,E01033744,Greenwich 007G,B,0,0,0,0,0,0,0,0,60,0,10,0,0,70
43916,E01033744,Greenwich 007G,C,0,0,0,0,0,0,0,40,220,0,130,0,-,390
43917,E01033744,Greenwich 007G,D,0,0,0,0,0,0,0,-,-,0,110,0,-,120
43918,E01033744,Greenwich 007G,E,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43919,E01033744,Greenwich 007G,F,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43920,E01033744,Greenwich 007G,G,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43921,E01033744,Greenwich 007G,H,0,0,0,0,0,0,0,0,0,0,-,0,-,-
43922,E01033745,Greenwich 002I,All,0,0,0,0,0,0,0,0,60,430,140,0,-,620
43923,E01033745,Greenwich 002I,A,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43924,E01033745,Greenwich 002I,B,0,0,0,0,0,0,0,0,20,20,0,0,0,30
43925,E01033745,Greenwich 002I,C,0,0,0,0,0,0,0,0,30,160,70,0,-,260
43926,E01033745,Greenwich 002I,D,0,0,0,0,0,0,0,0,10,210,70,0,-,300
43927,E01033745,Greenwich 002I,E,0,0,0,0,0,0,0,0,0,40,0,0,0,40
43928,E01033745,Greenwich 002I,F,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43929,E01033745,Greenwich 002I,G,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43930,E01033745,Greenwich 002I,H,0,0,0,0,0,0,0,0,0,0,0,0,0,0
43931,E01033746,Greenwich 038E,All,480,-,10,0,20,50,30,120,0,-,20,-,10,740
43932,E01033746,Greenwich 038E,A,0,0,0,0,20,20,20,0,0,0,0,0,0,60
43933,E01033746,Greenwich 038E,B,40,0,0,0,0,10,10,60,0,0,0,0,-,110
43934,E01033746,Greenwich 038E,C,110,0,10,0,0,20,0,0,0,0,-,-,0,140
43935,E01033746,Greenwich 038E,D,80,0,0,0,0,0,0,60,0,0,10,0,-,150
43936,E01033746,Greenwich 038E,E,70,0,0,0,0,10,0,10,0,-,0,0,0,80
43937,E01033746,Greenwich 038E,F,130,-,0,0,0,-,0,0,0,0,-,0,0,140
43938,E01033746,Greenwich 038E,G,50,-,0,0,0,0,-,0,0,-,-,-,-,60
43939,E01033746,Greenwich 038E,H,0,0,0,0,0,0,0,0,0,0,-,0,0,-

In [10]:
dftype_lsoa

,ECODE,AREA_NAME,BAND,TYPE_BUNGALOW_1,TYPE_BUNGALOW_2,TYPE_BUNGALOW_3,TYPE_BUNGALOW_4,TYPE_BUNGALOW_UNKW,BUNGALOW,TYPE_FLAT_MAIS_1,...,TYPE_HOUSE_DETACHED_1,TYPE_HOUSE_DETACHED_2,TYPE_HOUSE_DETACHED_3,TYPE_HOUSE_DETACHED_4,TYPE_HOUSE_DETACHED_UNKW_RND,HOUSE_DETACHED,ANNEXE,OTHER,UNKNOWN,ALL_PROPERTIES
425,E01000001,City of London 001A,All,0,0,0,0,0,0,450,...,0,0,0,0,0,0,0,0,-,1100
426,E01000001,City of London 001A,A,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
427,E01000001,City of London 001A,B,0,0,0,0,0,0,-,...,0,0,0,0,0,0,0,0,0,-
428,E01000001,City of London 001A,C,0,0,0,0,0,0,50,...,0,0,0,0,0,0,0,0,-,50
429,E01000001,City of London 001A,D,0,0,0,0,0,0,80,...,0,0,0,0,0,0,0,0,0,80
430,E01000001,City of London 001A,E,0,0,0,0,0,0,290,...,0,0,0,0,0,0,0,0,0,470
431,E01000001,City of London 001A,F,0,0,0,0,0,0,30,...,0,0,0,0,0,0,0,0,-,150
432,E01000001,City of London 001A,G,0,0,0,0,0,0,-,...,0,0,0,0,0,0,0,0,0,330
433,E01000001,City of London 001A,H,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,10
434,E01000002,City of London 001B,All,0,0,0,0,0,0,630,...,0,-,0,0,0,-,0,0,-,1190
435,E01000002,City of London 001B,A,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
436,E01000002,City of London 001B,B,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
437,E01000002,City of London 001B,C,0,0,0,0,0,0,-,...,0,0,0,0,0,0,0,0,0,-
438,E01000002,City of London 001B,D,0,0,0,0,0,0,90,...,0,0,0,0,0,0,0,0,0,100
439,E01000002,City of London 001B,E,0,0,0,0,0,0,480,...,0,0,0,0,0,0,0,0,0,680
440,E01000002,City of London 001B,F,0,0,0,0,0,0,50,...,0,-,0,0,0,-,0,0,0,170
441,E01000002,City of London 001B,G,0,0,0,0,0,0,-,...,0,0,0,0,0,0,0,0,-,200
442,E01000002,City of London 001B,H,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,50
443,E01000003,City of London 001C,All,0,0,0,0,0,0,540,...,0,0,0,-,0,-,0,0,-,910
444,E01000003,City of London 001C,A,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
445,E01000003,City of London 001C,B,0,0,0,0,0,0,-,...,0,0,0,0,0,0,0,0,0,70
446,E01000003,City of London 001C,C,0,0,0,0,0,0,300,...,0,0,0,0,0,0,0,0,0,310
447,E01000003,City of London 001C,D,0,0,0,0,0,0,150,...,0,0,0,0,0,0,0,0,0,160
448,E01000003,City of London 001C,E,0,0,0,0,0,0,80,...,0,0,0,0,0,0,0,0,0,280
449,E01000003,City of London 001C,F,0,0,0,0,0,0,10,...,0,0,0,0,0,0,0,0,-,90
450,E01000003,City of London 001C,G,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
451,E01000003,City of London 001C,H,0,0,0,0,0,0,0,...,0,0,0,-,0,-,0,0,0,-
452,E01000005,City of London 001E,All,0,0,0,0,0,0,330,...,0,0,0,0,0,0,0,0,-,680
453,E01000005,City of London 001E,A,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
454,E01000005,City of London 001E,B,0,0,0,0,0,0,160,...,0,0,0,0,0,0,0,0,0,200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43910,E01033743,Greenwich 002H,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43911,E01033743,Greenwich 002H,G,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43912,E01033743,Greenwich 002H,H,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43913,E01033744,Greenwich 007G,All,-,0,0,0,0,-,120,...,0,0,10,10,0,20,0,0,10,670
43914,E01033744,Greenwich 007G,A,0,0,0,0,0,0,100,...,0,0,0,0,0,0,0,0,-,100
43915,E01033744,Greenwich 007G,B,-,0,0,0,0,-,20,...,0,0,0,0,0,0,0,0,0,70
43916,E01033744,Greenwich 007G,C,0,0,0,0,0,0,-,...,0,0,-,0,0,-,0,0,-,390
43917,E01033744,Greenwich 007G,D,0,0,0,0,0,0,-,...,0,0,10,-,0,10,0,0,-,120
43918,E01033744,Greenwich 007G,E,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43919,E01033744,Greenwich 007G,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43920,E01033744,Greenwich 007G,G,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43921,E01033744,Greenwich 007G,H,0,0,0,0,0,0,0,...,0,0,0,-,0,-,0,0,-,-
43922,E01033745,Greenwich 002I,All,0,0,0,0,0,0,0,...,0,-,20,-,0,20,0,0,-,620
43923,E01033745,Greenwich 002I,A,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43924,E01033745,Greenwich 002I,B,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,30
43925,E01033745,Greenwich 002I,C,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,260
43926,E01033745,Greenwich 002I,D,0,0,0,0,0,0,0,...,0,-,10,-,0,20,0,0,-,300
43927,E01033745,Greenwich 002I,E,0,0,0,0,0,0,0,...,0,0,-,0,0,-,0,0,0,40
43928,E01033745,Greenwich 002I,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43929,E01033745,Greenwich 002I,G,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43930,E01033745,Greenwich 002I,H,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
43931,E01033746,Greenwich 038E,All,0,-,0,0,0,-,170,...,0,-,-,10,-,10,0,0,10,740
43932,E01033746,Greenwich 038E,A,0,0,0,0,0,0,20,...,0,0,0,0,0,0,0,0,0,60
43933,E01033746,Greenwich 038E,B,0,-,0,0,0,-,80,...,0,0,0,0,0,0,0,0,0,110
43934,E01033746,Greenwich 038E,C,0,0,0,0,0,0,60,...,0,0,0,0,0,0,0,0,0,140
43935,E01033746,Greenwich 038E,D,0,0,0,0,0,0,10,...,0,-,0,0,0,-,0,0,-,150
43936,E01033746,Greenwich 038E,E,0,0,0,0,0,0,0,...,0,0,0,0,-,-,0,0,0,80
43937,E01033746,Greenwich 038E,F,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,140
43938,E01033746,Greenwich 038E,G,0,0,0,0,0,0,0,...,0,0,-,-,0,10,0,0,-,60
43939,E01033746,Greenwich 038E,H,0,0,0,0,0,0,0,...,0,0,0,-,0,-,0,0,0,-

In [11]:
typecols = dftype_lsoa.columns
len(typecols)

37

In [12]:
typecols[0:37]

Index(['ECODE', 'AREA_NAME', 'BAND', 'TYPE_BUNGALOW_1', 'TYPE_BUNGALOW_2',
       'TYPE_BUNGALOW_3', 'TYPE_BUNGALOW_4', 'TYPE_BUNGALOW_UNKW', 'BUNGALOW',
       'TYPE_FLAT_MAIS_1', 'TYPE_FLAT_MAIS_2', 'TYPE_FLAT_MAIS_3',
       'TYPE_FLAT_MAIS_4', 'TYPE_FLAT_MAIS_UNKW', 'FLAT_MAIS',
       'TYPE_HOUSE_TERRACED_1', 'TYPE_HOUSE_TERRACED_2',
       'TYPE_HOUSE_TERRACED_3', 'TYPE_HOUSE_TERRACED_4',
       'TYPE_HOUSE_TERRACED_UNKW', 'HOUSE_TERRACED', 'TYPE_HOUSE_SEMI_1',
       'TYPE_HOUSE_SEMI_2', 'TYPE_HOUSE_SEMI_3', 'TYPE_HOUSE_SEMI_4',
       'TYPE_HOUSE_SEMI_UNKW', 'HOUSE_SEMI', 'TYPE_HOUSE_DETACHED_1',
       'TYPE_HOUSE_DETACHED_2', 'TYPE_HOUSE_DETACHED_3',
       'TYPE_HOUSE_DETACHED_4', 'TYPE_HOUSE_DETACHED_UNKW_RND',
       'HOUSE_DETACHED', 'ANNEXE', 'OTHER', 'UNKNOWN', 'ALL_PROPERTIES'],
      dtype='object')

In [13]:
df = pd.melt(dftype_lsoa, id_vars =typecols[0:3], value_vars =typecols[4:36], var_name ='prop_type', value_name='ndwellings')

In [14]:
df = df[(~df['BAND'].str.contains('All'))]
df.head()

       ECODE            AREA_NAME BAND        prop_type ndwellings
1  E01000001  City of London 001A    A  TYPE_BUNGALOW_2          0
2  E01000001  City of London 001A    B  TYPE_BUNGALOW_2          0
3  E01000001  City of London 001A    C  TYPE_BUNGALOW_2          0
4  E01000001  City of London 001A    D  TYPE_BUNGALOW_2          0
5  E01000001  City of London 001A    E  TYPE_BUNGALOW_2          0

In [15]:
droprows = ['BUNGALOW',
            'FLAT_MAIS',
            'HOUSE_TERRACED',
            'HOUSE_SEMI',
            'HOUSE_DETACHED',
            'ALL_PROPERTIES']
df = df[(~df.prop_type.isin(droprows))]
df.prop_type.unique()

array(['TYPE_BUNGALOW_2', 'TYPE_BUNGALOW_3', 'TYPE_BUNGALOW_4',
       'TYPE_BUNGALOW_UNKW', 'TYPE_FLAT_MAIS_1', 'TYPE_FLAT_MAIS_2',
       'TYPE_FLAT_MAIS_3', 'TYPE_FLAT_MAIS_4', 'TYPE_FLAT_MAIS_UNKW',
       'TYPE_HOUSE_TERRACED_1', 'TYPE_HOUSE_TERRACED_2',
       'TYPE_HOUSE_TERRACED_3', 'TYPE_HOUSE_TERRACED_4',
       'TYPE_HOUSE_TERRACED_UNKW', 'TYPE_HOUSE_SEMI_1',
       'TYPE_HOUSE_SEMI_2', 'TYPE_HOUSE_SEMI_3', 'TYPE_HOUSE_SEMI_4',
       'TYPE_HOUSE_SEMI_UNKW', 'TYPE_HOUSE_DETACHED_1',
       'TYPE_HOUSE_DETACHED_2', 'TYPE_HOUSE_DETACHED_3',
       'TYPE_HOUSE_DETACHED_4', 'TYPE_HOUSE_DETACHED_UNKW_RND', 'ANNEXE',
       'OTHER', 'UNKNOWN'], dtype=object)

In [16]:
# extract number from column

df['nbeds'] = df.prop_type.str.extract('(\d+)')

In [17]:
df.head()

       ECODE            AREA_NAME BAND        prop_type ndwellings nbeds
1  E01000001  City of London 001A    A  TYPE_BUNGALOW_2          0     2
2  E01000001  City of London 001A    B  TYPE_BUNGALOW_2          0     2
3  E01000001  City of London 001A    C  TYPE_BUNGALOW_2          0     2
4  E01000001  City of London 001A    D  TYPE_BUNGALOW_2          0     2
5  E01000001  City of London 001A    E  TYPE_BUNGALOW_2          0     2

In [18]:
df['prop_type'] = df.prop_type.str.lower()

In [19]:
types = ['bungalow', 'house', 'flat']
forms = ['terraced', 'semi', 'detached']

df['prop'] = df.prop_type
df['form'] = df.prop_type

import numpy as np
for i in range(3):
    df['prop']= np.where(df.prop_type.str.contains(types[i]), types[i], df.prop)
    df['form']= np.where(df.prop_type.str.contains(forms[i]), forms[i], df.form)

In [20]:
df.form.unique()

array(['type_bungalow_2', 'type_bungalow_3', 'type_bungalow_4',
       'type_bungalow_unkw', 'type_flat_mais_1', 'type_flat_mais_2',
       'type_flat_mais_3', 'type_flat_mais_4', 'type_flat_mais_unkw',
       'terraced', 'semi', 'detached', 'annexe', 'other', 'unknown'],
      dtype=object)

In [21]:
df.nbeds.unique()

array(['2', '3', '4', nan, '1'], dtype=object)

In [22]:
df.drop(columns=['prop_type'], inplace=True)
df.head()

,ECODE,AREA_NAME,BAND,ndwellings,nbeds,prop,form
1,E01000001,City of London 001A,A,0,2,bungalow,type_bungalow_2
2,E01000001,City of London 001A,B,0,2,bungalow,type_bungalow_2
3,E01000001,City of London 001A,C,0,2,bungalow,type_bungalow_2
4,E01000001,City of London 001A,D,0,2,bungalow,type_bungalow_2
5,E01000001,City of London 001A,E,0,2,bungalow,type_bungalow_2

In [23]:
df.columns = df.columns.str.lower()

In [24]:
df.columns

Index(['ecode', 'area_name', 'band', 'ndwellings', 'nbeds', 'prop', 'form'], dtype='object')

In [25]:
df['la'] = df.area_name.str.split().str[0]

In [26]:
df['ndwellings'] = pd.to_numeric(df.ndwellings, errors='coerce')
temp = df[['la', 'prop', 'ndwellings']]
temp.groupby(by=['la', 'prop']).sum()

                      ndwellings
la          prop
Barking     annexe           0.0
            bungalow       610.0
            flat         22340.0
            house        49110.0
            other           20.0
            unknown         60.0
Barnet      annexe          10.0
            bungalow      1760.0
            flat         64740.0
            house        73900.0
            other          160.0
            unknown        120.0
Bexley      annexe           0.0
            bungalow      5090.0
            flat         23370.0
            house        65650.0
            other           10.0
            unknown        330.0
Brent       annexe           0.0
            bungalow       800.0
            flat         64010.0
            house        48400.0
            other           30.0
            unknown         50.0
Bromley     annexe           0.0
            bungalow      6710.0
            flat         41170.0
            house        85150.0
            other          140.0
            unknown        600.0
...                          ...
Sutton      annexe          10.0
            bungalow      1300.0
            flat         28820.0
            house        48780.0
            other           30.0
            unknown        460.0
Tower       annexe           0.0
            bungalow        30.0
            flat        102600.0
            house        13420.0
            other           40.0
            unknown       2100.0
Waltham     annexe           0.0
            bungalow       790.0
            flat         43650.0
            house        53740.0
            other           20.0
            unknown        770.0
Wandsworth  annexe           0.0
            bungalow        50.0
            flat         93960.0
            house        41670.0
            other           80.0
            unknown        510.0
Westminster annexe           0.0
            bungalow         0.0
            flat        109500.0
            house        10280.0
            other           20.0
            unknown       2640.0

[198 rows x 1 columns]

In [27]:
df.shape

(1044360, 8)

In [28]:
t = df.drop_duplicates()

In [29]:
t.shape

(1044360, 8)